.styleard1{
    /* width: 18rem; */
    display: inline-block;
    margin: 25px;
    background-color: #FFFAF2;
    background-color: #FFFAF2;
    height: 100%;
    width: 100%;
    border: none;


}

.botoCard1{
    margin-left: 17px;

}

.cardAd1{
    text-align: center;
	background-color: #FFFAF2;
}

.actu{
    margin: 12px;

}
